{% extends 'base.html' %}


{% block title %}
{{ chapter.title }}
{% endblock %}

{% block content %}

<h1>Chapter {{chapter.chapter_number}}: {{chapter.title}}</h1>
<div>{{ content | safe }}</div>
<nav aria-label="Chapter Navigation">
    <div>
    {% if prev_url %}
        <a href="{{ prev_url }}">Previous: {{ prev_label }}</a>
    {% endif %}
    </div>
    <div>
    {% if next_url %}
        <a href="{{ next_url }}">Next: {{ next_label }}</a>
    {% endif %}
    </div>
</nav>
</nav>
{% endblock %}
